<% layout('layouts/boilerplate')%> 
   <div class="row">
    <h1 class="text-center">New Campground</h1>
    <div class="col-6 offset-3">
        <form action="/campgrounds" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="campground[title]" required>
                <div class="valid-feedback">&#128077;</div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="campground[location]" required>
                <div class="valid-feedback">&#128076;</div>
            </div> 
            <input type="file" name="image" id="" multiple>  
            <div class="mb-3">
                <label class="form-label" for="image">Image Url</label>
                <input class="form-control" type="text" id="image" name="campground[image]" required>
                <div class="valid-feedback">&#128079;</div>
            </div> 

            <div class="mb-3">
                <label class="form-label" for="price">Campground Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">&#8358;</span>
                    <input type="number" class="form-control" id="price" placeholder="0.00" aria-label="price" 
                    aria-describedby="price-label" name="campground[price]" required>
                    <div class="valid-feedback">&#129309;</div>
                 </div>  
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="campground[description]" required></textarea>
                <div class="valid-feedback">&#128513;</div>
            </div>

            <div class="mb-3">
                <button class="btn btn-dark">ADD CAMPGROUND&#10133;</button>
            </div>
        </form>
        <a class="btn btn-sm btn-primary" href="/campgrounds">ALL CAMPGROUND</a>
    </div>
</div>

